@font-face{
  font-family: "charter-regular-jefrito";
  src:url("/src/charter-regular.otf");
  font-style: normal;
  font-wight:400 ;
}
@font-face {
  font-family: "charter-bold-italic-jefrito";
  src: url("/src/charter-bold-italic.otf");
  font-style: italic;
  font-wight: bold;
}
@font-face {
  font-family: "charter-bold-jefrito";
  src: url("/src/charter-bold.otf");
  font-style: normal;
  font-wight: bold;
}
@font-face {
  font-family: "charter-italic-jefrito";
  src: url("/src/charter-italic.otf");
  font-style: italic;
  font-wight: 400;
}
:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  /* hexadecimal:   0-9,a-f   canal alfa:  0 - f*/
  /* rgba : rgba(0-255,0-255,0-255,0-1) */
  /* hsla:  hsla(0-180,) */
  color: var(--gray30);
  /* font-size: 10px; */
  /* font-family: "charter-bold-jefrito",system-ui; */
  font-family: 'Roboto',
    sans-serif;
    margin:0;
}

a {
  color: var(--gray30);

}

header {
  font-size: 14px;
  color: var(--gray10);
  position: absolute;
  width:188px;
  top:64px;
  left:-232px;
  /* bottom:0; */
  /* right:0; */
}

header a {
  color: var(--gray10);
  font-size: 14px;
  text-decoration: none;
}
header li{
  margin-bottom: 16px;;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 60px;
  margin-top:64px ;
  font-weight: normal;
  margin-bottom:16px;
  ;
}
h1 + p{
  /* solo al hermano directo */
  /* background:red; */
  /* margin-bottom:64px; */
}
h2 {
  font-size: 2em;
  margin:64px 0 40px ;
  font-weight: normal;
  /* margin-top:64px; */
}
hr{
  color:var(--gray10);
  margin: 64px 0;
}

h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  position: relative;
}

pre {
  background: #FEC62E;
  padding:40px;
  font-family: roboto;
  line-height: 24px;
 
}


blockquote{
  margin : 32px 0;
  font-size: 24px;
  padding:0 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
}
.section-content blockquote p:nth-child(2)>span{
  color: var(--gray10);
}
.section-content blockquote span::before  {
  content: '-';
}


.hero {
  height: 350px;
  background-image: linear-gradient(to top, rgb(255, 255, 255, .3), transparent),
    url("/images/patron-1.svg");
  /* background-repeat: no-repeat; */
  /* background-position: right -70px bottom; */
  /* background-size: cover; */
}

.section-content {
  counter-reset: titleList;
  margin-top:164px;
  
}
.section-content h2,
.section-content p{
  margin-bottom:0;
}
.section-content:first-of-type{

  margin: 0;;
}
.section-content + hr{
  display: none;
}
.section-content img{
  margin-top: 40px;
}
.section-content ol li {
  line-height:24px;
}
.section-content ul li{
  margin-bottom:16px
}
.section-content h3::after {
  content: '';
  width: 50px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position:absolute;
  left:0;
  bottom:0;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
 

}

.section-content h3::before {
    /* content:".-" counter(titleList,upper-roman); */
    content: counter(titleList, decimal) ". ";
}
.header-content{
    position: relative;
}
.main{
    /* border: 1px solid red; */
    /* background-color:purple; */
    /* background-image: linear-gradient(to top, rgb(255, 255, 255, .3), transparent),
          url("/images/patron-1.svg"); */
}

.wrapper{
      width: 710px;
      /* width: 40vw; */
      margin : 0 auto;
}
.wrapper {
  /* margin: 0 auto; */
}
.wrapper .header-content{
  width: 70vw;
}
.wrapper .main-content{
  width: 70vw;
}

.main-content{
  background: white;
  padding: 0;
}
/* .main-content :nth-of-type()  {
  background-color: red;
} */

/* ::selection{
  background-color: red;
} */
/* li{
    font-size: 3rem; 
} */

/* @media screen and (max-width:600px) {
  body{
    font-size: 5px;
  }
} */

img{
  margin: 0 auto;
  max-width: 100%;
}