@font-face {
  font-family: "charter-regular-jefrito";
  src: url("/src/charter-regular.otf");
  font-style: normal;
  font-wight: 400;
}

@font-face {
  font-family: "charter-bold-italic-jefrito";
  src: url("/src/charter-bold-italic.otf");
  font-style: italic;
  font-wight: bold;
}

@font-face {
  font-family: "charter-bold-jefrito";
  src: url("/src/charter-bold.otf");
  font-style: normal;
  font-wight: bold;
}

@font-face {
  font-family: "charter-italic-jefrito";
  src: url("/src/charter-italic.otf");
  font-style: italic;
  font-wight: 400;
}

:root {
  font-size: 18px;
  --white30: #fff;
  --white20: #A5A3A5;
  --white10: #616161;
  --white5:#3A3539;
  --white4:#251F24;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  color: var(--white4);
font-family: 'Nunito', sans-serif;
  margin: 0;
  /* modelo lógico */
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: var(--white4);
}

a {
  color: var(--white20);

}



header a {
  color: var(--white20);
  font-size: 14px;
  text-decoration: none;
}

header li {
  margin-bottom: 16px;
  color:var(--white20);
}
ol{
  color: var(--white20);
}
header{
margin-block-start:20px;
}
.header-content{

}
.header{

}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
  color:var(--white30);
}

h1 {
  font-size: 35px;
  font-weight: normal;

  margin-block-start: 0;
  margin-block-end: 16px;
}

h1+p {
  /* solo al hermano directo */
  /* background:red; */
  /* margin-bottom:64px; */
}
p{
  color:var(--white20);
  font-size: .8em;

}

h2 {
 font-size: 1em;
  /* margin: 64px 0 40px; */
  margin-block-start: 64px;
  margin-block-end: 40px;
  font-weight: normal;
  /* margin-top:64px; */
}

hr {
  margin-block: 40px;
  border: 1px solid var(--white10);
}

h3 {
  font-weight: 600;
  font-size: 1.3em;
  margin-block-start:16px;
  margin-block-end: 24px;
  position: relative;
  
}

pre {
  background: var(--white5);
  padding-inline:40px;
  padding-block: 40px;
  
  font-family: roboto;
  line-height: 22px;
  overflow: auto;
  border-radius: 8px;
  border: 10px solid  #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  margin-block-end: 40px;



}


blockquote {
  display: block;
  margin-block: 32px;
  margin-inline:0;
  font-size: 24px;
  padding-block:24px;
  padding-inline:24px;
  line-height: 32px;
  background: var(--white5);
  color: var(--white30);
  /* border-left: 4px solid var(--white30); */
  border-radius: 8px;

  
}
blockquote p{
  color: var(--white30);
  /* margin-top: 0; */
}
.section-content blockquote p:nth-child(2)>span {
  color: var(--white30);
}

.section-content blockquote span::before {
  content: '-';
}


.hero {
  
    block-size: 50px;
  /* background-image: linear-gradient(to top, rgb(255, 255, 255, .3), transparent); */
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background-repeat: no-repeat; */
  /* background-position: right -70px bottom; */
  /* background-size: cover; */
}

.section-content {
  counter-reset: titleList;
  margin-top: 164px;

}

.section-content h2{
  margin-bottom: 0;
}

.section-content:first-of-type {

  margin: 0;
  ;
}

.section-content+hr {
  display: none;
}

.section-content img {
  margin-block-start: 40px;
  display: inline-block;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-block-end: 16px;
  color: var(--white20);
}

.section-content h3::after {
  content: '';
  width: 50px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;


}

.section-content h3::before {
  /* content:".-" counter(titleList,upper-roman); */
  content: counter(titleList, decimal) ". ";
}







.main {
  /* border: 1px solid red; */
  /* background-color:purple; */
  /* background-color:#251F24 */
  color: var(--white30);
  /* background-image: linear-gradient(to top, rgb(255, 255, 255, .3), transparent),
          url("/images/patron-1.svg"); */
}

.wrapper {
  
  max-inline-size: 702px;
  /* width: 40vw; */
  margin: 0 auto;
}

.wrapper {
  /* margin: 0 auto; */
}

.wrapper .header-content {
  /* inline-size: 70vw; */
}

.wrapper .main-content {

  /* inline-size: 70vw; */
}

.main-content {
  /* background: white; */
  padding-inline: 10px;

}

/* .main-content :nth-of-type()  {
  background-color: red;
} */

/* ::selection{
  background-color: red;
} */
/* li{
    font-size: 3rem; 
} */

/* @media screen and (max-width:600px) {
  body{
    font-size: 5px;
  }
} */

img {
  margin: 0 auto;
  max-width: 100%;
}
.slider{
  /* outline: 1px solid red; */
  position: relative;
}
.slider-container{
  inline-size: 100%; 
  display:inline-block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow: hidden;
  /* outline:1px solid purple; */
  font-size: 0;
}

.video{
  margin:0;
  /* outline: 1px solid blue;          */
  display: inline-block;
  width:100%;
  height :auto;
  aspect-ratio:16/9;
  object-fit: cover;
}
.slider-bullet-list{
  text-align: center;
}
.slider-bullet{
  display:inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  border-radius: 50%;
  
}
.form input{
inline-size:100%;
box-sizing: border-box;
border:1px solid var(--white30);
background: var(--white4);
border-radius: 8px;
padding-block: 16px;
padding-inline:12px;
color:var(--white30);
font-size: 16px;
display: block;
margin-block-end: 24px;
}
.form input[type="submit"]{
  background-color: #157EFB;
  border: none;
}
.form input::-webkit-input-placeholder{
  color: var(--white20);
}

@media screen and (min-width:1366px){
.header-content {
    position: relative;
  }

  .header {
    /* border: 1px solid red; */
    position: sticky;
    inset-block-start: 0;
    /* top: 0; */
  }

  header {
    font-size: 14px;
    color: var(--white10);
    position: absolute;
    /* width: 188px; */
    inline-size: 188px;
    /* top: 64px; */
    inset-block-start: 60px;
    /* left: -232px; */
    inset-block-end: 60px;
    /* bottom:0; */
    inset-inline-start: -232px;
    /* right:0; */
    inset-inline-end: -232px;
  }
  .hero{
    block-size: 350px;
  }
  h1{
      margin-block-start: 64px;
      font-size: 60px;
  }
  h2{
    font-size: 2em;
  }
  h3{
font-size: 1.5em;
  }
  p{
  font-size: 1.2em;
  }
}